%button-radius {
  border-radius: rem(4px);
}

%button-padding {
  padding: rem(9px) rem(16px);
}


%button-primary-color {
  background-color: color(primary);
  color: color(light, lightest);
}

%button-secondary-color {
  background-color: color(light, light);
  color: color(dark, base);
  border: 1px solid color(light, light);
  &:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
  }
}

%button-font {
  font-family: $font-family;
  font-size: size(small);
}
