$breakpoints: (
  mini   : 321px,
  small   : 641px,
  medium  : 769px,
  large   : 1025px,
  xlarge  : 1321px,
  xxlarge : 1921px
) !default;

%flex-default {
  align-items: center;
  display: flex;
  justify-content: center;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

%flex-default-column {
  @extend %flex-default;
  flex-direction: column;
}

%box-shaddow {
  box-shadow: 0 rem(1px) rem(2px) 0 rgba(0, 0, 0, 0.1);
}

@function breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @return map-get($breakpoints, $breakpoint);
  }
  @return inherit;
}

